<div class="animate__animated animate__fadeIn">
    <h2>Por Region</h2>
    <hr>

    <div class="row">
        <div class="col">
            <h5>Seleccione la region</h5>

            <button *ngFor="let region of regiones" (click)="seleccionarRegion(region)" class="btn me-2"
                [ngClass]="region === regionActual ? 'btn-primary' : 'btn-outline-primary'">
                {{region | titlecase}}
            </button>
        </div>
    </div>
    <hr>
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-tabla-paises [paises]="paises"></app-tabla-paises>
    </div>
</div>