<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="animate__animated animate__fadeIn">
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{i + 1}}</td>
            <td>
                <img [src]="pais.flag" [alt]="pais.name" width="50">
            </td>
            <td>{{pais.name}} ({{pais.capital}})</td>
            <td>{{pais.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', pais.alpha2Code]">Ver mas</a>
            </td>

        </tr>
    </tbody>
</table>